<nav *ngIf="showHeader" class="navbar navbar-expand-lg">
  <div class="navbar-brand">
    <h3>Poly Manage</h3>
  </div>

  <div class="collapse navbar-collapse" id="nvbCollapse">
    <ul class="navbar-nav ml-auto">
      <li
        [routerLinkActive]="'active'"
        class="nav-item pl-1"
        *ngIf="data.isLogined"
      >
        <a class="nav-link" [routerLink]="['/dashboard']"
          ><i class="fa fa-home fa-fw mr-1"></i>Dashboard</a
        >
      </li>
      <li
        [routerLinkActive]="'active'"
        class="nav-item pl-1"
        *ngIf="data.isLogined && data.isAdmin"
      >
        <a class="nav-link" [routerLink]="['/employee/list']"
          ><i class="fa fa-th-list fa-fw mr-1"></i>Manage Employee</a
        >
      </li>
      <li
        [routerLinkActive]="'active'"
        class="nav-item pl-1"
        *ngIf="data.isLogined && data.isAdmin"
      >
        <a class="nav-link" [routerLink]="['/project/list']"
          ><i class="fa fa-info-circle fa-fw mr-1"></i>Manage Project</a
        >
      </li>
      <li
        [routerLinkActive]="'active'"
        class="nav-item pl-1"
        *ngIf="data.isLogined"
      >
        <a class="nav-link" [routerLink]="['/task/list']"
          ><i class="fa fa-info-circle fa-fw mr-1"></i>Manage Task</a
        >
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="nvbCollapse">
    <ul class="navbar-nav ml-auto">
      <li
        [routerLinkActive]="'active'"
        class="nav-item pl-1"
        *ngIf="!data.isLogined"
      >
        <a class="nav-link" [routerLink]="['/auth/login']"
          ><i class="fa fa-sign-in fa-fw mr-1"></i>Login</a
        >
      </li>
      <li
        [routerLinkActive]="'active'"
        class="nav-item pl-1"
        *ngIf="data.isLogined"
      >
        <a class="nav-link" (click)="logout()"
          ><i class="fa-solid fa-right-from-bracket"></i>Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
