<div>
  <!-- local template variable  -->
  <form action="" (ngSubmit)="changeDetail(detailForm)" #detailForm="ngForm">
    <div class="form-group">
      <label for="productCode">Product Code</label>
      <input
        type="text"
        class="form-control"
        name="productCode"
        id="productCode"
        aria-describedby="productCodehelpId"
        placeholder="product code"
        ngModel
        [(ngModel)]="product.productCode"
      />
      <small id="productCodehelpId" class="form-text text-muted"
        >Product code is required</small
      >
    </div>
    <div class="form-group">
      <label for="productName"></label>
      <input
        type="text"
        class="form-control"
        name="productName"
        id="productName"
        aria-describedby="productNamehelpId"
        placeholder="product name"
        [(ngModel)]="product.productName"
      />
      <small id="productNamehelpId" class="form-text text-muted"
        >Product name is required</small
      >
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Update</button>
    </div>
  </form>
  <hr />
  <p>{{ product | json }}</p>
</div>
