<div class="card">
  <div class="card-head">Product List</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Product code</th>
          <th>Product name</th>
          <th>Star Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td scope="row">{{ product.productCode }}</td>
          <td>{{ product.productName }}</td>
          <td>
            <app-star
              [rating]="4"
              (ratingClicked)="changeStarRating($event)"
            ></app-star>
          </td>
          <td>
            <a
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
              name=""
              id=""
              class="btn btn-primary"
              href="#"
              role="button"
              >View</a
            >
            <a
              [routerLink]="['/productdetail/' + product.productCode]"
              name=""
              id=""
              class="btn btn-primary"
              role="button"
              >Edit</a
            >
            <a name="" id="" class="btn btn-primary" href="#" role="button"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
