.radial-bar {
  margin: 50px;
  width: 80px;
  height: 80px;
  background-color: #cccccc;
  border-radius: 50%;
}

.radial-bar__mask {
  clip: rect(0px, 80px, 80px, 40px);
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
}

.radial-bar__fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
  border-radius: 50%;
  clip: rect(0px, 40px, 80px, 0px);
  background-color: #7369f2;
  width: 80px;
  height: 80px;
  position: absolute;
}

.radial-bar__inset {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #fbfbfb;
  border-radius: 50%;
  display: table-cell;
}

.radial-bar__percent {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #7369f2;
  font-size: 22px;
}
