<form (ngSubmit)="onSubmit()" [formGroup]="productForm" class="mt-4">
  <div class="card">
    <div class="card-header">Add product</div>
    <div class="card-body">
      <div class="form-group">
        <label for="">Product code</label>
        <input
          type="text"
          class="form-control"
          name="productCode"
          id="productCode"
          formControlName="productCode"
          aria-describedby="productCodeId"
          placeholder="123-123"
        />
        <small
          *ngIf="
            !productForm.get('productCode')?.valid &&
            productForm.get('productCode')?.touched
          "
          id="productCodeId"
          class="form-text text-muted"
          >Product Code is required</small
        >
      </div>
      <div class="form-group">
        <label for="">Product name</label>
        <input
          type="text"
          class="form-control"
          name="productName"
          id="productName"
          formControlName="productName"
          aria-describedby="productNameId"
          placeholder="product name"
        />
        <small
          *ngIf="
            !productForm.get('productName')?.valid &&
            productForm.get('productName')?.touched
          "
          id="productNameId"
          class="form-text text-muted"
          >Product Name is required</small
        >
      </div>
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary" type="submit">Add product</button>
    </div>
  </div>
</form>
